<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkhub.common.mapper.MsgExtraMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linkhub.common.model.pojo.MsgExtra">
        <result column="id" property="id" />
        <result column="msg_id" property="msgId" />
        <result column="name" property="name" />
        <result column="author" property="author" />
        <result column="mention" property="mention" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, msg_id, name, author, mention
    </sql>

</mapper>
