<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkhub.common.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linkhub.common.model.pojo.User">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="nickname" property="nickname" />
        <result column="temporary" property="temporary" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="type" property="type" />
        <result column="email_verified" property="emailVerified" />
        <result column="banned" property="banned" />
        <result column="discriminator" property="discriminator" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>
<!--  完整的 user&user_setting 查询  -->
    <resultMap id="UserVoResultMap" type="com.linkhub.common.model.pojo.User">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="nickname" property="nickname" />
        <result column="temporary" property="temporary" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="type" property="type" />
        <result column="email_verified" property="emailVerified" />
        <result column="banned" property="banned" />
        <result column="discriminator" property="discriminator" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, email, nickname, temporary, password, avatar, type, email_verified, banned, discriminator, create_at, update_at
    </sql>

    <select id="selectUserByNickname" resultMap="BaseResultMap">
        SELECT
            id, email, nickname, temporary, password, avatar,
            type, email_verified, banned, discriminator, create_at, update_at
        FROM
            `user`
        WHERE
            `user`.nickname = #{nickname}
    </select>

    <select id="selectUserByMail" resultMap="BaseResultMap">
        SELECT
            id, email, nickname, temporary, password, avatar,
            type, email_verified, banned, discriminator, create_at, update_at
        FROM
            `user`
        WHERE
            `user`.email = #{email}
    </select>
</mapper>
